@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: rgb(117, 104, 104);
  color: black;
  /* background-image: url('https://media.istockphoto.com/id/478735992/photo/spare-parts-car-on-the-white-background.jpg?s=612x612&w=0&k=20&c=vXqplmIYLqaXA7jB6DCv_ZQ1jV50JRJ8rlUfN-dOXGQ='); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center center; */
/* } */ 